name: alphabet_list_view

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup asdf
        uses: asdf-vm/actions/setup@v4
      - name: Cache asdf
        uses: actions/cache@v4
        with:
          path: |
            ~/.asdf/installs
            ~/.asdf/plugins
            ~/.asdf/shims
          key: ${{ runner.os }}-asdf-${{ hashFiles('.tool-versions') }}
          restore-keys: ${{ runner.os }}-asdf-
      - name: Install asdf
        uses: asdf-vm/actions/install@v4
        # See https://github.com/asdf-vm/actions/issues/445
        if: steps.cache-asdf.outputs.cache-hit != 'true'
      - name: Reshim asdf
        run: asdf reshim

      - name: Cache flutter dependencies
        uses: actions/cache@v4
        with:
          path: .dart_tool/
          key: ${{ runner.os }}-flutter-${{ hashFiles('example/pubspec.lock') }}
          restore-keys: ${{ runner.os }}-flutter-
      - name: Install dependencies
        run: flutter pub get

      - name: Format code
        run: dart format --set-exit-if-changed .
      - name: Analyze code
        run: flutter analyze
      - name: Run Code metrics
        run: dart run dart_code_linter:metrics analyze . --set-exit-on-violation-level=warning
      - name: Run tests
        run: flutter test

  pana:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup asdf
        uses: asdf-vm/actions/setup@v4
      - name: Cache asdf
        uses: actions/cache@v4
        with:
          path: |
            ~/.asdf/installs
            ~/.asdf/plugins
            ~/.asdf/shims
          key: ${{ runner.os }}-asdf-${{ hashFiles('.tool-versions') }}
          restore-keys: ${{ runner.os }}-asdf-
      - name: Install asdf
        uses: asdf-vm/actions/install@v4
        # See https://github.com/asdf-vm/actions/issues/445
        if: steps.cache-asdf.outputs.cache-hit != 'true'
      - name: Reshim asdf
        run: asdf reshim

      - name: Install WebP
        run: |
          sudo apt update
          sudo apt install webp
      - name: Cache flutter dependencies
        uses: actions/cache@v4
        with:
          path: .dart_tool/
          key: ${{ runner.os }}-flutter-${{ hashFiles('example/pubspec.lock') }}
          restore-keys: ${{ runner.os }}-flutter-
      - name: Install Dependencies
        run: |
          flutter pub get
          echo $GITHUB_PATH:$HOME/.pub-cache/bin >> $GITHUB_PATH
          flutter pub global activate pana

      - name: Verify Pub Score
        run: ./tool/verify_pub_score.sh
